@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: white;
    line-height: 1.5;
}

a {
    color: white;
    text-decoration: none;
}

.site-header {
    padding: 30px;
    border-bottom: 1px solid #ccc;
}

.header-inner {
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo, 
.language-select {
    display: block;
    width: 140px;
    font-size: 12px;
}

.logo-text {
    margin-top: 1px;
    text-align: center;
    color: dimgrey;
    font-size: .85em;
}

.menu {
    display: flex;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.menu-item {
    margin-left: 15px;
    margin-right: 15px;
    text-transform: lowercase;
}

.hero {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.container {
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
}

.hero-inner {
    background-image: linear-gradient(rgb(0 0 255 / 60%), rgba(255, 255, 0, 0.5));
    border-radius: 25px;
    padding: 5px;
}

.hero-text {
    font-size: 9rem;
    line-height: 1;
    text-align: center;
    color: #ffe800;
    text-shadow: 0 3px 0 rgba(0, 0, 0,.50);
}

.hero-description {
    margin-top: -5em;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    color: black;
}

.dall-e {
    color: white;
}

.intro {
    background-image: url("../assets/header.png");
    background-size: cover;
    background-position: center;
    padding-top: 310px;
    padding-bottom: 250px;
}

.intro-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: cyan;
    background-color: black;
    padding-bottom: 1px;
}

.intro-title {
    display: inline-block;
    border-bottom: 3px solid #ffe800;;
}

.inner-span {
    display: flex;
    justify-content: center;

}

.entry-header {
    padding: 12px 20px;
    background-color: #ff0066;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.entry-title, .entry-price {
    color: white;
    margin: 0;
    line-height: 1;
}

.entry-title {
    font-size: 16px;
}

.entry-price {
    text-transform: lowercase;
    text-align: end;
    font-size: 12px;
}

.wp-post-image {
    max-width: 100%;
    width: auto !important;
    height: auto !important;
}

.post-thumbnail {
    display: block;
    pointer-events: none;
}

.section-heading {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: lowercase;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(21, 20, 20);
    /* From https://css.glass */
    background: rgb(236 2 251 / 48%);
/*     border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 20px;
    max-width: 1220px;
    margin-left: 10px;
    margin-right: 10px;
}

.location-description {
    max-width: 480px;
    margin-right: auto;
}

.location-info {
    display: flex;
    align-items: center;
    text-align: center;
}

.location-description h3 {
    font-size: 12px;
    margin: 0;
}

.location-description p {
    margin-top: 0;
    margin-bottom: 20px;
}

.map-inner {
    position: relative;
    padding-bottom: 75%;
}

.map-inner iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
}

.site-footer {
    padding: 10px 30px 20px 30px;
    border-top: solid 1px black;
    font-size: 12px;
    font-family: sans-serif;
    color: black;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-social {
    display: flex;
}

.social-link, .social-link img {
    display: block;
    color: yellow;
    text-shadow: 1px 1px black;
}

.social-link {
    margin-left: 5px;
}